<div id="eshtraits-personality" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.personality}} />
</div>
<div id="eshtraits-advantages" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.advantages}} />
</div>
