<div id="eshtraits-personality" class="tab-pane fade in">
    {{markdown-editor text=char.custom.personality}}
</div>
<div id="eshtraits-advantages" class="tab-pane fade in">
    {{markdown-editor text=char.custom.advantages}}
</div>