
<div id="eshtraits-personality" class="tab-pane fade">
    {{{ansi-format text=char.custom.personality}}}
</div>
<div id="eshtraits-advantages" class="tab-pane fade">
    {{{ansi-format text=char.custom.advantages}}}
</div>