<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#eshtraits-personality">Personality</a></li>
<li class="nav-item"><a data-bs-toggle="tab" class="nav-link" href="#eshtraits-advantages">Advantages</a></li>