<div id="eshtraits-advantages" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.advantages}} @rows={{10}} />
</div>
<div id="eshtraits-personality" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.personality}} @rows={{10}} />
</div>

