<div id="eshtraits-advantages" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.Personality}} />
</div>
<div id="eshtraits-personality" class="tab-pane fade in">
    <MarkdownEditor @text={{this.char.custom.Advantages}} />
</div>
