<div id="eshtraits-powers" class="tab-pane fade">
    <AnsiFormat @text={{this.char.custom.Personality}} />
</div>
<div id="eshtraits-skills" class="tab-pane fade">
    <AnsiFormat @text={{this.char.custom.Advantages}} />
</div>
